<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
</head>
<body>
    <h1>Result</h1>

    <h3>Your Result is <%= score %></h3>
    <a href="/answers"><button>View Answers</button></a>
</body>
</html>